
/*? codigo para editar la barra de scroll  */
body::-webkit-scrollbar {
    width: 15px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(198, 255, 229);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(61, 230, 162);    /* color of the scroll thumb */
    border-radius: 25px;       /* roundness of the scroll thumb */
    border: 2px solid rgb(33, 123, 87);  /* creates padding around scroll thumb */
  }

  