@tailwind base;
@tailwind components;
@tailwind utilities;

/*todo  AQUÍ CREO MIS CLASES PERSONALIZADAS */
.itemsDelNav a:hover{
    color: orange;
}

#SobreNosotros .aboutTitulo{
    color: #5f5950;
}
#SobreNosotros .aboutTexto{
    color: rgb(84, 84, 84);
}

/*Estilos para el Footer  */
.redesLinks a {
    background: #46423b;
    padding: 1.2rem;
    border-radius: 50%;
    display: inline-block;
    color: #d45e5e;
    padding: 0;

    font-size: 18px;
    line-height: 1;
    padding: 6px 0 0 0;
    /* margin-right: 4px; */
    /* text-align: center; */
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

.redesLinks a:hover{
    background: #ffb03b;
}
