@tailwind base;
@tailwind components;
@tailwind utilities;

/*todo  AQUÍ CREO MIS CLASES PERSONALIZADAS */
.itemsDelNav a:hover{
    color: orange;
}

#SobreNosotros .aboutTitulo{
    color: #5f5950;
}
#SobreNosotros .aboutTexto{
    color: rgb(84, 84, 84);
}